{% extends "base.html" %}
{% block title%}Sign Up{%endblock%}

{% block content %}
        <section class="h-100 bg-dark">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-item-center h-100">
                    <div class="col">

                        <div class="card card-registraion my-4">
                            <div class="row g-0">
                                <div class="col-xl-6 d-none d-xl block">
                                    <img src="" alt=""
                                        style="border-top-left-radius: .25rem, border-bottom-lef-radius: .25rem">
                                </div>
                                <div class="col xl-6">
                                    <div class="card-body p-md-6 text-black">
                                        <h3 class="mb-5 text-uppercase justify-content-center align-items-center">sign
                                            up</h3>

                                        <form action="{{url_for('signup')}}" method="POST">
                                            <div class="row">
                                                <div class="col-md-6 mb-4">
                                                    <div data-mdb-input class="form-outline">
                                                        <input type="text" id="form3Exmaple1n"
                                                            class="form-control form-control-lg" name="first_name">
                                                        <label for="form3Example1n" class="form-label">First
                                                            Name</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 mb-4">
                                                    <div data-mdb-input class="form-outline">
                                                        <input type="text" id="form3Exmaple1m1"
                                                            class="form-control form-control-g" name="last_name">
                                                        <label for="form3Example1m1" class="form-label">Last
                                                            Name</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-md-flex justify-content-start allign items-center mb-4 py-2">
                                                <h6 class="mb-0 me-4">Gender</h6>

                                                <div class="form-check form-check-inline mb-0 me-4">
                                                    <input type="radio" class="form-check-intput"
                                                        name="gender" id="female" value="female">
                                                    <label for="female" class="form-check-label">Female</label>
                                                </div>

                                                <div class="form-check form-check-inline mb-0 me-4">
                                                    <input type="radio" class="form-check-intput"
                                                        name="gender" id="male" value="male">
                                                    <label for="male" class="form-check-label">Male</label>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 mb-4">
                                                    <div data-mdb-input class="form-outline">
                                                        <input type="text" id="form3Example1n1"
                                                            class="form-control form-control-lg" name="username">
                                                        <label for="form3Example1n1" class="form-label">username</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 mb-4">
                                                    <div data-mdb-input class="form-outline">
                                                        <input type="password" id="form3Example1n1"
                                                            class="form-control form-control-lg" name="password">
                                                        <label for="form3Example1n1" class="form-label">password</label>
                                                    </div>
                                                </div>
                                            </div>


                                            <div data-mdb-input class="form-outline mb-4">
                                                <input type="email" id="form3Example8"
                                                    class="form-control form-control-lg" name="email_address">
                                                <label for="form3Example8" class="form-label">email address</label>
                                            </div>


                                            <div class="d-flex justify-content-center pt-3">
                                                <button class="btn btn-primary btn-lg">sign up</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

{% endblock %}
